/* /Components/Contact.razor.rz.scp.css */
/* /Components/Footer.razor.rz.scp.css */

footer[b-dic3wf7lzy]{
    margin-top: 15rem;
}
.social-links[b-dic3wf7lzy] {
    background: var(--pico-color-pumpkin-150);
    min-height: 4rem;
    margin: 0;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-content: center;
    padding: 5rem 0 2rem 0rem;
    font-size: 1rem;
}

svg[b-dic3wf7lzy] {
    padding: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
    border-radius: 8px;
    color: black;
}
/* /Components/Menu/CategoryView.razor.rz.scp.css */
ul[b-rpj53h0lfg]{
    color: inherit;
    font-size: 0.8rem;
}

li[b-rpj53h0lfg]{
    list-style: none;
    display: flex;    
}

.pricelist[b-rpj53h0lfg]{
    flex-grow: 1;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    border-bottom: 2px dashed var(--pico-color-pumpkin-250);
}
/* /Components/Menu/MenuView.razor.rz.scp.css */
.main[b-n74f78crkj]{
    margin-top: 8rem;
}
.menu[b-n74f78crkj] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: auto; /* Adjust height as needed */
    max-width: 100%;
    padding: 0rem 3rem;
    margin-top: 4rem;
}

.category[b-n74f78crkj] {
    flex: 1 1 30rem; /* Adjust the base width as needed */
    height: auto; /* Let the height adjust based on content */
    background: var(--pico-color-pumpkin-350);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: var(--pico-color-pumpkin-50);
    backdrop-filter: blur(2px);
}

    .category header[b-n74f78crkj] {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: ghostwhite;
        text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);
        
    }

    header[b-n74f78crkj]{
        font-size: 4.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }

.title[b-n74f78crkj] {
    font-family: 'Dancing Script';
}

    h1[b-n74f78crkj], h2[b-n74f78crkj], h3[b-n74f78crkj], h4[b-n74f78crkj]{
/*        font-size: inherit;
*/        font-family: inherit;
        color: inherit;
        font-size: inherit;
        margin: 0;
        padding: 0;
    }


    .pricecategories[b-n74f78crkj]{
        color: var(--pico-color-pumpkin-100);
        display: flex;
        gap: 2rem; 
        justify-content: flex-end;
        font-size: 1.5rem;
        margin: 1rem;
    }
/* /Components/NavMenu.razor.rz.scp.css */
.navbar[b-86qr0pun0t] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1em 2em;
    color: var(--color-pico-pumpkin-850);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 1px;
    position: relative; /* Make navbar a containing block for the dropdown */
}

.navbar-brand[b-86qr0pun0t] {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

    .navbar-brand i[b-86qr0pun0t] {
        margin-right: 0.5em;
    }

.navbar-toggler[b-86qr0pun0t] {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5em;
    cursor: pointer;
    outline: none; /* Disable the default focus outline */
}

    .navbar-toggler:focus[b-86qr0pun0t] {
        outline: none; /* Ensure no outline on focus */
    }

.navbar-dropdown[b-86qr0pun0t] {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(68, 68, 68, 0.7); /* Semi-transparent background */
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure dropdown appears above other content */
    text-align: center; /* Center align text */
    backdrop-filter: blur(4px); /* Apply blur effect */
}

    .navbar-dropdown a[b-86qr0pun0t] {
        display: block;
        padding: 1.5em 0; /* Add vertical padding */
        color: white;
        text-decoration: none;
        font-size: 1.25em; /* Make text bigger */
    }

        .navbar-dropdown a:hover[b-86qr0pun0t] {
            background-color: #555;
        }
