ul{
    color: inherit;
    font-size: 0.8rem;
}

li{
    list-style: none;
    display: flex;    
}

.pricelist{
    flex-grow: 1;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    border-bottom: 2px dashed var(--pico-color-pumpkin-250);
}