<div class="list">
    <ul>
        @foreach (var item in this.Category.Items)
        {
            <li class="item">
                <strong>@item.Name</strong>: @item.Description
                <div class="pricelist">
                @foreach (var price in item.Prices)
                {
                    <span class="price">@(price.Value)€</span>
                }
                </div>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter] public Category Category { get; set; } = new();
}
