<div class="list">
        @foreach (var item in this.Category.Items)
        {
            <div class="item">
                <strong>@item.Name</strong>: @item.Description
                @* <div class="pricelist">
                @foreach (var price in item.Prices)
                {
                    <span class="price">@(price.Value)€</span>
                }
                </div> *@
            </div>
        }
</div>

@code {
    [Parameter] public Category Category { get; set; } = new();
}
