@page "/menu"
@inject HttpClient Http

<header>Menu</header>
<div class="menu">
    @foreach (var category in menu?.Categories ?? Enumerable.Empty<Category>())
    {
        <div class="category">
            <header>

                <h1>@category.Name</h1>
                <span class="pricecategories">
                    @foreach (var priceCategory in category.PriceCategories)
                    {
                        <h2>@priceCategory</h2>
                    }
                </span>
            </header>

            <CategoryView Category=@category />
        </div>
    }
</div>
@code {
    private Menu? menu = MenuContent.Create();

}
