.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: auto; /* Adjust height as needed */
    max-width: 100%;
    padding: 3rem;
}

.category {
    flex: 1 1 30rem; /* Adjust the base width as needed */
    height: auto; /* Let the height adjust based on content */
    background: var(--pico-color-pumpkin-350);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

    .category header {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        font-family: 'Dancing Script';
        color: #ededed;
    }
