@page "/menu"
@inject HttpClient Http
<div class="main">
    <header class="title">Menu</header>
    <div class="menu">
        @foreach (var category in menu?.Categories ?? Enumerable.Empty<Category>())
        {
            <div class="category">
                <header>
                    <h1 class="title">@category.Name</h1>
                </header>

                <div class="pricecategories">
                    @foreach (var priceCategory in category.PriceCategories)
                    {
                        <h2 class="title">@priceCategory</h2>
                    }
                </div>
                <CategoryView Category=@category />
            </div>
        }
    </div>
</div>
@code {
    private Menu? menu = MenuContent.Create();

}
