@page "/menu"
@inject HttpClient Http

<header>Menu</header>
<div class="menu">
    @foreach (var category in menu?.Categories ?? Enumerable.Empty<Category>())
    {
        <div class="category">
            <header>
            @category.Name
            </header>
            <CategoryView Category=@category/>
        </div>
    }
</div>
@code {
    private Menu? menu = MenuContent.Create();

}
