
footer{
    margin-top: 15rem;
}
.social-links {
    /*background: var(--pico-color-pumpkin-850);*/
    background: #0c0c0c;
    min-height: 4rem;
    margin: 0;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-content: center;
    padding: 5rem 0 2rem 0rem;
    font-size: 1rem;
}

svg {
    padding: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
    border-radius: 8px;
    color: black;
}