<div class="footer">
    <div class="social-links">
        <a href="" class="icon-whatsapp icon-blue icon-btn"></a>
        <a href="" class="icon-instagram icon-red icon-btn"></a>
        <a href="" class="icon-facebook icon-purple icon-btn"></a>
        <a href="" class="icon-tripadvisor icon-purple icon-btn"></a>
    </div>
</div>