<nav class="navbar">
    <ul class="logo-title">
        <li>
            <i class="fa-solid fa-utensils"></i>
        </li>
        <li><h1>BAR CAFETERÍA LOS MAJUELOS</h1></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Carta</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>