.navbar {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    background: rgb(245,181,68);
    background: linear-gradient(270deg, rgba(245,181,68,1) 0%, rgba(255,124,0,1) 42%, rgba(201,98,0,1) 100%);
    color: white;    
}
.navbar i {
    margin-right: 1rem;
    font-size: 48px;
}

h1{
    padding: 0;
    margin: 0;
    color: inherit;
}

ul{
    border: 1px solid white;
    color: inherit;
    display: flex;
    gap: 1rem;
}
li{
    padding: 0;
}
a{
    color: inherit;
}