<nav class="site-navmenu">
    <img src="assets/coffee-cup-128.png" alt="logo" />
    <h1>BAR CAFETERÍA</h1>

    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Carta</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>